# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env

# OS files
.DS_Store

# Local configuration
.vscode/claudesync.json
token.json
instance/

# Database
app.db

# Uploaded files
uploads/
token.json

