{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
  <h2>Dashboard do Ministrante: {{ ministrante.nome }}</h2>
  <div class="mb-4">
    <a href="{{ url_for('formularios_routes.listar_formularios') }}" class="btn btn-primary w-100 fw-bold">
        <i class="bi bi-ui-checks"></i> Gerenciar Formulários
    </a>
</div>

<div class="mb-4">
  <a href="{{ url_for('formularios_routes.listar_respostas', formulario_id=1) }}" class="btn btn-primary w-100 fw-bold">
      📄 Gerenciar Respostas dos Formulários
  </a>
</div>

  <hr>

  {% if oficinas %}
    <div class="row">
      {% for oficina in oficinas %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-header bg-primary text-white">
            {{ oficina.titulo }}
          </div>
          <div class="card-body">
            <p><strong>Descrição:</strong> {{ oficina.descricao }}</p>
            <p><strong>Vagas:</strong> {{ oficina.vagas }}</p>
            <p><strong>Formador:</strong> {{ oficina.formador.nome if oficina.formador else 'Não informado' }}</p>

            <!-- Quantitativo de inscritos -->
            <p><strong>Quantidade de inscritos:</strong> {{ oficina.inscritos|length }}</p>

            <!-- Botões de ação -->
            <a href="{{ url_for('ministrante_routes.upload_material', oficina_id=oficina.id) }}" class="btn btn-sm btn-secondary">
                Anexar Material
              </a>
            <a href="{{ url_for('ministrante_routes.enviar_relatorio', oficina_id=oficina.id) }}" class="btn btn-sm btn-warning">
              Enviar Relatório
            </a>

            {% if habilitar_feedback %}
            <a href="{{ url_for('feedback_routes.feedback_ministrante', oficina_id=oficina.id) }}" class="btn btn-sm btn-info">
                Enviar Feedback
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Nenhuma oficina vinculada a este ministrante.</p>
  {% endif %}
</div>
{% endblock %}
