{% extends "base.html" %}
{% block title %}Upload de Material{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center">Upload de Material para a Oficina: {{ oficina.titulo }}</h2>
  <form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="arquivo" class="form-label">Selecione o arquivo</label>
      <input type="file" class="form-control" id="arquivo" name="arquivo" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Enviar Material</button>
    <a href="{{ url_for('formador_routes.dashboard_formador') }}" class="btn btn-secondary w-100 mt-3">Voltar</a>
  </form>
</div>
{% endblock %}
